<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Override the sequence manager to provide custom order numbers -->
    <preference for="Magento\SalesSequence\Model\Manager"
                type="Learning\CustomOrderNumber\Model\Sequence\Manager"/>
</config>
