<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Override the sequence manager to provide custom order numbers -->
    <preference for="Magento\SalesSequence\Model\Manager"
                type="Learning\CustomOrderNumber\Model\Sequence\Manager"/>

    <!-- Plugin to set invoice number same as order when configured -->
    <type name="Magento\Sales\Model\ResourceModel\Order\Invoice">
        <plugin name="learning_custom_order_number_invoice_resource_plugin"
                type="Learning\CustomOrderNumber\Plugin\Sales\Model\Order\InvoicePlugin"
                sortOrder="1"/>
    </type>

    <!-- Plugin to set shipment number same as order when configured -->
    <type name="Magento\Sales\Model\ResourceModel\Order\Shipment">
        <plugin name="learning_custom_order_number_shipment_resource_plugin"
                type="Learning\CustomOrderNumber\Plugin\Sales\Model\Order\ShipmentPlugin"
                sortOrder="1"/>
    </type>
</config>
