<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="learning" translate="label" sortOrder="400">
            <label>Learning Modules</label>
        </tab>

        <section id="learning_custom_order_number" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Custom Order Number</label>
            <tab>learning</tab>
            <resource>Learning_CustomOrderNumber::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable custom order number formatting for new orders</comment>
                </field>
            </group>

            <group id="order" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Configuration</label>

                <field id="format" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Order Number Format</label>
                    <backend_model>Learning\CustomOrderNumber\Model\Config\Backend\ValidateFormat</backend_model>
                    <comment><![CDATA[Enter the order number format that you want to set (counter variable is must). You can use variables {counter}, {yyyy}, {yy}, {mm}, {dd}. If you type ORD-{yy}-{mm}-{dd}-{counter} in the field, you will have order numbers of the kind: ORD-13-08-15-000077]]></comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                    </depends>
                </field>

                <field id="start_counter" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Counter From</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment>Enter the number to start the counting from.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                    </depends>
                </field>

                <field id="increment_step" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Counter Increment Step</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment>Enter the number you want to set as increment for the next order number. E.g. the last number is 0001, if increment step is 4, the next number will be 0005</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                    </depends>
                </field>

                <field id="padding" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Counter Padding</label>
                    <validate>validate-digits validate-zero-or-greater</validate>
                    <comment>Add the number of padding that you want to add for order id. Total number of digits in the order number. If the order id is 24 and padding is 6, the result will be 000024. Set 0 (zero) not to add leading zeros.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                    </depends>
                </field>

                <field id="reset_counter" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reset Counter on Date Change</label>
                    <source_model>Learning\CustomOrderNumber\Model\Config\Source\ResetFrequency</source_model>
                    <comment>Select counter to change on day, month or yearly basis to reset.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="invoice" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Invoice Configuration</label>

                <field id="same_as_order" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Same as Order Number</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select yes to set the invoice number as order number. If No, use invoice's own configuration below.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                    </depends>
                </field>

                <field id="format" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Invoice Number Format</label>
                    <backend_model>Learning\CustomOrderNumber\Model\Config\Backend\ValidateFormat</backend_model>
                    <comment><![CDATA[Enter the invoice number format that you want to set (counter variable is must). You can use variables {counter}, {yyyy}, {yy}, {mm}, {dd}. If you type INV-{yy}-{mm}-{dd}-{counter} in the field, you will have invoice numbers of the kind: INV-13-08-15-000077]]></comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>

                <field id="start_counter" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Counter From</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment>Enter the number to start the counting from.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>

                <field id="increment_step" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Counter Increment Step</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment>Enter the number you want to set as increment for the next invoice number. E.g. the last number is 0001, if increment step is 4, the next number will be 0005</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>

                <field id="padding" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Counter Padding</label>
                    <validate>validate-digits validate-zero-or-greater</validate>
                    <comment>Add the number of padding that you want to add for invoice id. Total number of digits in the invoice number. If the invoice id is 24 and padding is 6, the result will be 000024. Set 0 (zero) not to add leading zeros.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>

                <field id="reset_counter" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reset Counter on Date Change</label>
                    <source_model>Learning\CustomOrderNumber\Model\Config\Source\ResetFrequency</source_model>
                    <comment>Select counter to change on day, month or yearly basis to reset.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>
            </group>

            <group id="shipment" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipment Configuration</label>

                <field id="same_as_order" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Same as Order Number</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select yes to set the shipment number as order number. If No, use shipment's own configuration below.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                    </depends>
                </field>

                <field id="format" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Shipment Number Format</label>
                    <backend_model>Learning\CustomOrderNumber\Model\Config\Backend\ValidateFormat</backend_model>
                    <comment><![CDATA[Enter the shipment number format that you want to set (counter variable is must). You can use variables {counter}, {yyyy}, {yy}, {mm}, {dd}. If you type SHIP-{yy}-{mm}-{dd}-{counter} in the field, you will have shipment numbers of the kind: SHIP-13-08-15-000077]]></comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>

                <field id="start_counter" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Counter From</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment>Enter the number to start the counting from.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>

                <field id="increment_step" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Counter Increment Step</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment>Enter the number you want to set as increment for the next shipment number. E.g. the last number is 0001, if increment step is 4, the next number will be 0005</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>

                <field id="padding" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Counter Padding</label>
                    <validate>validate-digits validate-zero-or-greater</validate>
                    <comment>Add the number of padding that you want to add for shipment id. Total number of digits in the shipment number. If the shipment id is 24 and padding is 6, the result will be 000024. Set 0 (zero) not to add leading zeros.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>

                <field id="reset_counter" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reset Counter on Date Change</label>
                    <source_model>Learning\CustomOrderNumber\Model\Config\Source\ResetFrequency</source_model>
                    <comment>Select counter to change on day, month or yearly basis to reset.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>
            </group>

            <group id="creditmemo" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credit Memo Configuration</label>

                <field id="same_as_order" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Same as Order Number</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select yes to set the credit memo number as order number. If No, use credit memo's own configuration below.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                    </depends>
                </field>

                <field id="format" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Credit Memo Number Format</label>
                    <backend_model>Learning\CustomOrderNumber\Model\Config\Backend\ValidateFormat</backend_model>
                    <comment><![CDATA[Enter the credit memo number format that you want to set (counter variable is must). You can use variables {counter}, {yyyy}, {yy}, {mm}, {dd}. If you type CR-{yy}-{mm}-{dd}-{counter} in the field, you will have credit memo numbers like: CR-13-08-15-000077]]></comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>

                <field id="start_counter" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Counter From</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment>Enter the number to start the counting from.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>

                <field id="increment_step" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Counter Increment Step</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment>Enter the increment step for the next credit memo number.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>

                <field id="padding" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Counter Padding</label>
                    <validate>validate-digits validate-zero-or-greater</validate>
                    <comment>Total digits for the credit memo number, padded with leading zeros.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>

                <field id="reset_counter" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reset Counter on Date Change</label>
                    <source_model>Learning\CustomOrderNumber\Model\Config\Source\ResetFrequency</source_model>
                    <comment>Select counter to change on day, month or yearly basis to reset.</comment>
                    <depends>
                        <field id="learning_custom_order_number/general/enabled">1</field>
                        <field id="same_as_order">0</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
